<form action="/task" method="POST">
<div class="is-flex is-flex-direction-column">
<div class="field">
    <label class="label">New task</label>
      <input name="task" class="input" type="text" placeholder="Create your new task"></div>
 <div class="is-flex is-justify-content-flex-end">
    <button type="submit" class="button is-link">Add</button></div>
  </div>
  
</form>