<form >
<div class="is-flex is-flex-direction-column">
<div class="field">
    <label class="label">New task</label>
      <input  id="boton" name="task" class="input input is-warning" type="text" placeholder="Create your new task"></div>
 <div class="is-flex is-justify-content-flex-end">
    <button  type="button" onclick="add()" class="button is-warning">Add</button></div>
  </div>
  
</form>